body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
} 
.orange-color{color: orange;}
.h1{
    font-size: 50px;
}
.flexibal-continar{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 7%;
    padding-right: 5%;
    text-align: justify;
}
.half-width img{
    width: 100%;

}
.top-bannar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.link-Hire{
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}
.dream-bg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 150px;
}
.box{
    width: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 10px 10px 30px  gray;
    border-radius: 10px;
    
    }
.Experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 50px;
}
   
.text{
    font-size: 48px;
}
#Full-Stack {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(18, 219, 18),rgb(247, 243, 2));
    border-image-slice: 1;
}
#Baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(47, 0, 255),rgb(9, 212, 248));
    border-image-slice: 1;

}
footer{
    text-align: center;
}